{{> nav}}

<div class="listContainer">
{{#each productos}}
<div class="card">
  <h3>{{title}}</h3>
  <p>Precio: {{price}}</p>
  <img src="{{thumbnail}}">
  <form action="/productos/eliminar/{{id}}" method="post">
    <input type="submit" value="Eliminar">
  </form>
</div>
{{/each}}
</div>