<div class="formContainer">
    <form action="/productos" method="POST">
        <input type="text" name="title" placeholder="Nombre">
        <input type="text" name="price" placeholder="precio">
        <input type="text" name="thumbnail" placeholder="url de imagen">

        <input type="submit" value="Subir producto" class="btn btn-primary">
        <input type="reset" value="Limpiar" class="btn btn-danger">
    </form>
</div>