
    <nav >
        <ul>
            <li> <a href="/" class="btn btn-dark"> Inicio </a></li>
            <li> <a href="/productos" class="btn btn-dark"> Productos </a></li>
        </ul>
    </nav>